body {
      color: brown;
      background-color: rgb(249, 248, 247);
}

p {
      color: rgb(6, 201, 245);
}

li {
      font-size: larger;
}

.destaque {
      background-color: rgb(237, 94, 94);
      font-weight: bold;
}

.texto {
      color: coral;
      font-size: larger;
}

#principal {
      color: darkblue;
      font-size: smaller;
}